body{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    height: 2000px;
    background-color: #d2d6d9;
}

/* 正上方部分 */
.navBar{
    width: 100%;
    height: 100px;
    background-color: #0097A7;
    display: flex;
    flex-flow: row nowrap;
    align-items:center;
}
.navBar>.menu{
    width: 50px;
    height: 50px;
    cursor: pointer;
    /* align-self: center; */
}
.navBar>.menu img{
    height: 100%;
}
.navBar>.name{
    font-size: 36px;
    margin: 0 auto;
}




/* 左侧导航栏 */
.leftNav{
    position: fixed;
    width: 12.5%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color:wheat; 
    display: none;
    flex-flow: column nowrap;
    align-items:center;
}
.leftNav>.name{
    margin-top: 50px;
    color: #0097A7;
    font-weight: bold;
}
.leftNav>.item{
    cursor: pointer;
}
.hide{
    display: none;
    position: fixed;
    width: 87.5%;
    height: 100%;
    top: 0px;
    right: 0px;
    background: black;
    z-index: 2;
    opacity: 0.2;
}




/* 主体部分 */
.article{
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-between;
}
.article>.left{
    width:65%;
    padding: 20px;
}
.article>.right{
    width: 25%; 
    height: 600px;
    background-color: white;
}
.article>.right{
    margin: 20px;
}


/* 首页最近博客列表 */
.recent{
    /* border: 1px solpadding: 20px;id #F5F5F5; */
    box-shadow: 5px 10px 5px #888888;
    background-color: white;
    padding: 10px;
    margin-top: 20px;
}
.recent>.title{
    
    font-size: 20px;
    font-weight: bold;
    
}
.recent>.info{
    margin-top: 10px;
    color: #c7ac8e;
}
.recent>.body{
    margin-top: 10px;
    text-indent:2em; 
}
.recent>.tags{
    margin-top: 10px;
    color: #c7ac8e; 
}


/* 左侧具体类别博客列表*/
.specificList{
    display: none;
}

/* 博客正文 */
.blogBody{
    display: none;
    /* overflow: hidden; */
    /* word-break:break-all;
     */
    background-color: yellow;
}



/* 右侧栏目 */
.article>.right>.hotList>.allHot{
    display: flex;
    flex-flow: column nowrap;
    align-items:center;
}
.article>.right .title{
    padding-left: 10px;
    font-size: 20px;
}

.article>.right>.classify>.allCategory{
        padding: 10px;
}
.article>.right>.classify>.allCategory>.item{
    cursor: pointer;
}